<header class="fixed z-20  w-full bg-zinc-50 mb-12 shadow-md">
  <div class="flex  items-center justify-center h-16">
    <div class="w-1/5 lg:w-[5%]">
      <div class=" flex items-center justify-center ">
        <ng-container *ngIf="showSidebar; else showSidebarButton">
          <button (click)="handleAction($event)" aria-label="Close"
                  class="hover:bg-zinc-500 p-2 transition ease-out duration-300 bg-primary mx-4 md:mr-8"
                  id="testing-aria">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          </button>
        </ng-container>
        <ng-template #showSidebarButton>
          <button (click)="handleAction($event)" aria-label="Open"
                  class="hover:bg-zinc-500 p-2 transition ease-out duration-300 bg-black text-white mx-4 md:mr-8"
                  id="testing-ariaOpen" style="color: #f4f4f5 !important;">
            <svg class="w-6 h-6 " fill="none" stroke="currentColor" stroke-width="1.5"
                 style="color: #f4f4f5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          </button>
        </ng-template>
      </div>


    </div>
    <div class="w-full flex justify-between">
      <div class="flex items-center justify-center">
        <h1 class="text-base md:text-lg font-bold flex cursor-pointer" routerLink="/">Handymen POC  <span
          class="hidden md:block pl-2">Stats</span></h1>
      </div>
      <div class="flex">
        <div class="flex items-center justify-center mr-4">
          <a href="https://github.com/dornescum/admin-dashboard/tree/main" target="_blank" class="bg-zinc-200 text-white ml-2 px-4 rounded-sm flex">
            <img src="./assets/svg/github.svg" alt="github logo" class="pr-2">
            Github Here</a>
        </div>
      </div>
    </div>
  </div>


<!--  <app-sidebar (onClose)="handleCloseSidebar()" *ngIf="showSidebar" data-cy="sidebar_component"></app-sidebar>-->
  <app-sidebar *ngIf="showSidebar" data-cy="sidebar_component"></app-sidebar>
</header>

