

<div class="text-center pt-20">
  <p class="font-bold mx-4">
    Every search at this <span class="text-blue-500"><a href="http://62.171.167.229:4000/home/search" target="_blank">link</a> </span>
    is  logged with details about client <span> this are the statistics</span>
  </p>
  <p *ngIf="isLoading">Loading ... </p>

</div>
<div class=" grid grid-cols-1 md:grid-cols-2 gap-1 lg:gap-4 mt-4 border-t-2 md:border-t-0">

  <div class="h-44 md:h-96 w-full flex  place-content-center pb-1 grayscale">
    <canvas #osChart></canvas>

  </div>
  <div class="h-44 md:h-96 w-full flex place-content-center ">
    <canvas #browserChart></canvas>
  </div>
  <div class="h-44 md:h-96 w-full flex place-content-center ">
    <canvas #deviceChart></canvas>
  </div>

  <div class="h-44 md:h-96 w-full flex place-content-center ">
    <canvas #searchChart></canvas>
  </div>

</div>
<p class="pl-4"> Updated {{day}} / {{time}}</p>
