<div  class="flex flex-col min-h-screen relative">
<!--  FIXME error install tailwind docker -->
  <app-navbar></app-navbar>
<!--  <app-sidebar></app-sidebar>-->
  <router-outlet></router-outlet>
<!--  <button routerLink="/dashboard"> here</button>-->

<!--  <h1 class="text-3xl font-bold underline bg-red-300">-->
<!--    Hello world!-->
<!--  </h1>-->
<!--  <p class="font-bold text-3xl">tst</p>-->
<!--  <app-navbar></app-navbar>-->
<!--  <router-outlet></router-outlet>-->
  <app-footer  class="mt-auto"></app-footer>
</div>

