<aside class="absolute top-16 left-0 w-full md:w-44 h-svh">
  <ul class="bg-zinc-50 h-screen border-t-2 shadow-2xl cursor-pointer" >
<!--    FIXME  nu merg *ngFor="let item of menuItems" -->
<!--    <li class="hover:bg-zinc-200 text-stone-500 text-2xl md:text-base my-6 md:my-8">-->
<!--      <a class="flex items-center justify-center mx-2" routerLink="/{{item.path}}">-->
<!--        <span>{{item.title}}</span>-->
<!--      </a>-->
<!--    </li>-->


    <li class="hover:bg-zinc-200 text-stone-500 text-2xl md:text-base my-6 md:my-8">
      <a class="flex items-center justify-center mx-2" routerLink="/browsers">
        <span>Browsers</span>
      </a>
    </li>


    <li class="hover:bg-zinc-200 text-stone-500  text-2xl md:text-base  my-6 md:my-8">
      <a class="flex items-center justify-center mx-2" routerLink="/dashboard">
        <span>Dashboard 2</span>
      </a>
    </li>
    <li class="hover:bg-zinc-200 text-stone-500  text-2xl md:text-base my-6 md:my-8">
      <a class="flex items-center justify-center mx-2" routerLink="/">
        <span>Home</span>
      </a>
    </li>

<!--    ===-->
<!--    <li class="hover:bg-zinc-200 text-stone-500  text-2xl md:text-base  my-6 md:my-8">-->
<!--      <a class="flex items-center justify-center mx-2" routerLink="/policy">-->
<!--        <span>Politica site</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="hover:bg-zinc-200 text-stone-500  text-2xl md:text-base  my-6 md:my-8">-->
<!--      <a class="flex items-center justify-center mx-2" routerLink="/policy/cookie">-->
<!--        <span>Politica cookie</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="hover:bg-zinc-200 text-stone-500  text-2xl md:text-base  my-6 md:my-8">-->
<!--      <a class="flex items-center justify-center mx-2" routerLink="/policy/complaints">-->
<!--        <span>Reclamatii</span>-->
<!--      </a>-->
<!--    </li>-->


  </ul>
</aside>
